.productsCustomizeBlock {
  font-family: "Roboto", serif;
}
.customizeHeader {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 159px;
}

.customizeText {
  color: #011f3a;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.wrapperBody {
  color: #ededed;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 410px 410px;
}

.gridItem {
  background-color: #ffffff;
  border: 1px solid #ededed;
}

.productsTextColumn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productsTextColumn p,
h4 {
  margin: 0 0 5px 0;
}

.leftColumn {
  width: 55%;
}

.leftColumnNoPrise {
  width: 55%;
  display: none;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 65px;
}

.rightColumn {
  color: #a1a1a1;
  text-align: right;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.productsName {
  color: #011f3a;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.36px;
}

.productsDescription {
  color: #777777;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.unbrandedItems {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unbrandedText {
  color: #a1a1a1;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 55px 50px 55px 0;
}

@media (max-width: 1200px) {
  .productsCustomizeBlock {
    margin: 0 auto;
    max-width: 970px;
  }
  .customizeHeader {
    justify-content: space-around;
  }
  .gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .leftColumnNoPrise {
    right: 0px;
    width: 60%;
  }
  .wrapperBody {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 475px 475px 475px;
  }
  .productsTextColumn {
    width: 100%;
    padding: 5px;
  }
}
@media (max-width: 992px) {
  .productsCustomizeBlock {
    max-width: 760px;
  }

  .customizeProces {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .customizeText {
    width: 65%;
    font-size: 24px;
  }
  .customizeHeader {
    height: 125px;
  }
  .unbrandedText {
    margin: 15px 50px 15px 0;
  }
}
